body {
    font: 'Roboto', sans-serif;
    margin: 0;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 200px;
}
.header img {
    width: 40px;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 45px;
}
.header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    height: 400px;
    gap: 50px;
    justify-content: center;
}
.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.hero p {
    font: 24px;
}
.hero button {
    background-color: #3882f6;
    color: inherit;
    width: 100px;
    padding: 4px;
}
.hero .images
{
    display: flex;
    align-items: center;
}
.hero img
{
    height: 200px;
    width: 300px;
}
.personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-top: 25px;
    height: 450px;
    
}
.personal h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0;
}
.items {
    display: flex;
    gap: 80px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

}
.personal img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
}
.personal p {
    text-align: center;
    margin-top: 24px;
}
.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
}
.quote h2 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    margin: 0;
    max-width: 50ch;
}
.quote p { 
    align-self: flex-end;
    font-weight: 700;
}
.booking {
    display: flex;
    background-color: #3882f6;
    max-width: 800px;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    padding: 40px 60px;
    border-radius: 20px;
}
.booking .text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
}
.text h3 {
    margin: 0;
    font-size: 24px;
}
.text p {
    margin: 8 0 0;
    font-size: 16px;
    opacity: 0.9;
}
.booking button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 30px;
    cursor: pointer;
}
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 50px;
    justify-content: center;
}
.footer p {
    margin: 0;
}