body {
    font: 'Roboto', sans-serif;
    margin: 0;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 200px;
}
.header img {
    width: 40px;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 45px;
}
.header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}